{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
            crossorigin="anonymous">
    </script>
</head>

<body>
    <nav id="navbar">
        <div id="navbar-container">
                <div id="home"><a href="{% url 'article:index' %}">HOME</a></div>
            <ul id="navbar-right">
                <li id="navbar-user">
                    {% if user.is_authenticated %}
                    <i class="fa-solid fa-user"></i><span>Hi {{user}}</span>
                </li>
                <li class="logout"><a href ="{% url 'account:logout' %}">LOG OUT</a></li>

                {% else %}
                <i class="fa-solid fa-user"></i><span>Hi stranger</span>
                </li>
                <li class="logout"><a href ="{% url 'account:login' %}">LOG IN</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block body %}

    {% endblock %}

    <!--Contact me-->
    <footer>
        <div id="contact-me">
        <h1>CONTACT ME</h1>
        <hr>
        <button id="twitter-button"><a href="https://twitter.com/chistev12" class="twitter-button" target="_blank"><i class="fab fa-twitter"></i>on Twitter</a>
        </button>
        <hr>
      </div>
    </footer>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>