{% extends 'article/base.html' %}

{% load static %}

{% block title %} Create Post {% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'create_post.css' %}">
{% endblock %}


{% block body %}
<div class="create-post-container">
    <form method="post" enctype="multipart/form-data" class="create-post-form">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="create-post-button">Create Post</button>
    </form>
</div>
{% endblock %}