{% extends 'article/base.html' %}

{% load static %}

{% block title %} {{post.title}} {% endblock %}


{% block css %}
        {{ block.super }}
    <link rel="stylesheet" href="{% static 'read.css' %}">
{% endblock %}


{% block body %}
        <!--Picture background-->

    <div id="image-background" style="background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('{{ post.image.url }}')">
        <h1 id="image-background-title">{{post.title}}</h1>
    </div>


    <!--Read-->

    <div id="read-container">
        <div id="article">
            <div id="card-container">
                <div class="card">
                    <img src="{{ post.image.url }}" alt="Image">
                    <div class="card-content">
                        <div id="card-top">
                            <h2>{{post.title}}</h2> <span id="category"><a href="{% url 'article:category' post.category %}">{{post.category}}</a></span>
                        </div>
                        {% if post.is_edited %}
                            <p>This article has been edited.</p>
                        {% endif %}
                        <hr>
                        <div class="card-meta">
                            <div>
                                <span class="timestamp">{{post.date}}</span>
                                {% if user.is_authenticated %}
                                  {% if user in post.likes.all %}
                                  <button class="like-button" data-href="{{ post.get_api_like_url }}">
                                    <i class="fas fa-heart liked article-like-style" ></i>
                                    <span class="like-count" style="color: salmon;">{{ post.likes.count }} {{ count_str }}</span>
                                  </button>
                                  {% else %}
                                  <button class="like-button" data-href="{{ post.get_api_like_url }}">
                                    <i class="fas fa-heart article-like-style" ></i>
                                    <span class="like-count">{{ post.likes.count }} {{ count_str }}</span>
                                  </button>
                                 {% endif %}
                                 <button id="comment-button" class="comment-button"><a 
                                  href="{% url 'article:detail' slug=post.slug %}?comment=true#comment-textarea" 
                                  style="text-decoration: none;" class="comment-button">
                                  <i id="comment-icon" class="fa-solid fa-comment"></i>5 comments
                                </a>
                                  </button>
                              {% else %}
                                <button class="logged-out-like-button">
                                  <a href="{% url 'account:login' %}">{{ post.likes.count }} {{ count_str }}</a>
                                </button>

                                <button id="comment-button" class="comment-button"><a 
                                  href="{% url 'article:detail' slug=post.slug %}#sort" style="text-decoration: none;" class="comment-button">
                                  <i id="comment-icon" class="fa-solid fa-comment"></i>5 comments
                                </a>
                                  </button>
                              {% endif %}

                            
                            </div>
                            <div style="display: flex;">
                              {% if user.is_superuser %}
                              <form method="POST" action="{% url 'article:delete_post' post.slug %}">
                                {% csrf_token %}
                                <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to delete this post?')"><i class="fa-solid fa-trash"></i>Delete</button>
                                
                              </form>
                              <button id="edit-button" class="edit-button">
                                <a style="color: white; text-decoration: none;" href="{% url 'article:edit_post' slug=post.slug %}">
                                  <i class="fa-solid fa-pen-to-square"></i>Edit
                                </a>
                                </button>
                                
                                
                              {% endif %}
                                
                        
                            </div>
                        </div>
                          <hr>

                      <p>{{post.post}}</p>
                      <div>
                        {% if user.is_authenticated %}
                                  {% if user in post.likes.all %}
                                  <button class="like-button" data-href="{{ post.get_api_like_url }}">
                                    <i class="fas fa-heart liked article-like-style" ></i>
                                    <span class="like-count" style="color: salmon;">{{ post.likes.count }} {{ count_str }}</span>
                                  </button>
                                  {% else %}
                                  <button class="like-button" data-href="{{ post.get_api_like_url }}">
                                    <i class="fas fa-heart article-like-style" ></i>
                                    <span class="like-count">{{ post.likes.count }} {{ count_str }}</span>
                                  </button>
                                 {% endif %}
                        {% endif %}
                        <button class="comment-button"><i class="fa-solid fa-comment"></i>Leave a comment</button>
                      </div>
                    </div>
                </div>


                <!--Comment Box-->


                <div class="card comment-card">
                    <div class="header">
                        <h2>Comments</h2>
                    </div>
                    <hr>
                    <div class="sort-comments">
                        <label for="sort">Sort by:</label>
                        <select id="sort">
                          <option value="new">New</option>
                          <option value="liked">Most liked</option>
                          <option value="children">Most child comments</option>
                          <option value="old">Oldest</option>
                        </select>
                    </div>
                    
                    <div id="comment-container" class="comment-container" style="display: none;">
                      <form id="comment-form" method="post" action="">
                        {% csrf_token %}
                        <textarea id="comment-textarea"
                        style="font-size: 16px; color: #333; background-color: #f2f2f2; border: 1px solid #ccc; 
                        border-radius: 4px; padding: 8px; outline: none; text-align:left;" name="comment" rows="4" cols="50">
                        </textarea>
                        <button id="submit-comment" style="display: block;"type="submit">Submit</button>
                      </form>
                    </div>

                    <div class="comment">
                      <div class="comment-header">
                        <h3>User 1</h3>
                        <span class="timestamp">2 hours ago</span>
                      </div>
                      <div class="comment-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <div class="comment-footer">
                        <button class="comment-button"><i class="fa-solid fa-comment"></i>Reply</button>
                        <button class="like-button"><i class="fas fa-heart"></i>Like</button>
                        <button class="like-button"><i class="fa-solid fa-trash"></i>delete</button>
                      </div>
                      <div class="child-comments">
                        <div class="comment">
                          <div class="comment-header">
                            <h3>User 2</h3>
                            <span class="timestamp">1 hour ago</span>
                          </div>
                          <div class="comment-body">
                            <p>Reply to User 1
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sequi assumenda velit itaque et! Amet, tempore. Tenetur voluptatum ex natus unde perferendis officiis. Praesentium aspernatur vitae consequuntur cumque, amet debitis?
                            </p>
                          </div>
                          <div class="comment-footer">
                            <button class="comment-button"><i class="fa-solid fa-comment"></i>Reply</button>
                        <button class="like-button"><i class="fas fa-heart"></i>Like</button>
                        <button class="like-button"><i class="fa-solid fa-trash"></i>delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment">
                      <div class="comment-header">
                        <h3>User 3</h3>
                        <span>3 hours ago</span>
                      </div>
                      <div class="comment-body">
                        <p>Nullam fringilla risus ac dui tristique, a eleifend eros suscipit.</p>
                      </div>
                      <div class="comment-footer">
                        <a href="#">Reply</a>
                      </div>
                    </div>
                  </div>
        </div>
            
        </div>
        <!-- Related Articles Card -->
        {% if related_articles %}
        <div id="related-articles">
            <div id="card">
                <h2>Articles in the same category</h2>
                <ul>
                  {% for related_article in related_articles %}
                    <li><a href="{{ related_article.get_absolute_url }}">{{ related_article.title }}</a></li>
                  {% endfor %}
                </ul>
                {% if show_all %}
                <button><a href="{% url 'article:category' categories=post.category %}" >View all related articles</a></button>
                {% endif %}
              </div>
        </div>
        {% endif %}

        <!--comments-->
    </div>

     <script type="text/javascript">

      const user_authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
      // Wait for the page to finish loading
      window.addEventListener('load', function(){
        // Get the URL parameters
        const params = new URLSearchParams(window.location.search)
        // check if the "comment" parameter is present and is set to "true"
        if (params.has('comment') && params.get('comment') === 'true') {
          // Scroll to the comment box element
          const commentContainer = document.querySelector('#comment-container')
          if (commentContainer){
            if (user_authenticated){
              commentContainer.style.display = 'block'
            }
            commentContainer.scrollIntoView({ behavior:"smooth"})
          }
          else{
            console.error('error gotten')
          }
        }
      })

      // Attach a click event handler to all comment links
      const commentButtons = document.querySelectorAll('.comment-button')
      commentButtons.forEach(function(link) {
        link.addEventListener('click', function(event) {
          console.log("WORKING!")
          // Prevent the default link behaviour
          event.preventDefault()
          // Get the URL from the link
          const url = this.getAttribute('href')
          // Update the URL in the browser address bar
          window.history.pushState({}, '', url)
          // Scroll to the comment box element
          const commentContainer = document.querySelector('#comment-container')
          const commentSort = document.querySelector('.sort-comments')
          if (commentContainer){
            if(user_authenticated){
              commentContainer.style.display = 'block'
            }
            console.log("What!!")
            commentContainer.scrollIntoView({ behavior:"smooth"})
            commentSort.scrollIntoView({ behavior:"smooth"})
          }
          else{
            commentContainer.style.display = 'hidden'
            console.error('error found')
          }
        })
      })
    </script>
{% endblock %}