#password-reset-done-container {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#password-reset-done-container h2 {
  font-size: 24px;
  color: #333;
}

#password-reset-done-container p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

#password-reset-done-container a {
  color: #007BFF;
  text-decoration: none;
}

#password-reset-done-container a:hover {
  text-decoration: underline;
}
